# サーバ側
server/.env
server/.venv/
server/__pycache__/
server/*.db
server/*.db-journal
server/*.pyc

# フロント側
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/.vite/

# エディタ
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
